@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    overflow-y: scroll;
}




body {
    width:100%;
    min-height: 100%;
    background:$bg-cl;
}

input {
    // border:none;
}