@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    font-family: 'Lato', sans-serif;
    overflow: auto;
    overflow-y: scroll;
}




body {
    width:100%;
    min-height: 100%;
    background:$bg-cl;
}

input {
    // border:none;
}