@import '1-helpers/variables';
@import '3-basics/reset';
@import '3-basics/base';


body {
    display:flex;
    justify-content: center;
    align-items: center;
}
.error {
    padding:1.5rem;

    h3 {
      margin-bottom: 10px;  
    }

    a { 
        color:$primary;
    }
}

