.select__wrapper select {
    color:$primary;
    width:100%;
    padding:0.3rem 0.5rem;
    background:transparent;
    border: 1px solid transparent;
    &:focus,
    &:active{
        outline:none;
    }

    option{
        margin-bottom: 2rem;
    }
}

.select__wrapper {
    border:1px solid $primary;
    box-shadow: $soft-box-shadow;
    position:relative;
    @include trans(200ms ease-in);


    &:focus-within{
        border:$border-low-profile;
    }


}

.select--focus{
    border:1px solid lighten($primary,20);
    box-shadow:0 0 6px lighten($primary,20);
}